@media screen and (max-width: 1200px) {
    .wrapper {
        width: 100%;
    }

    .col_3 {
        width: 100%;
    }

    .header_logo span {
        font-size: 65px;
    }

    .header_signin a {
        font-size: 14px;
    }

    nav li a {
        font-size: 25px;
    }

    .header_buttons {
        padding-top: 0;
    }

    .body_bar_item {
        width: calc(100% / 3);
    }

    .body_bar_item p {
        font-size: 20px;
    }

    .body_table {
        font-size: 20px;
    }

    .body_heading h1 {
        font-size: 36px;
    }

    .body_text p {
        font-size: 20px;
    }

    .footer_signing {
        font-size: 14px;
    }

    .body_bar_item {
        text-align: center;
    }
}

@media screen and (max-width: 700px) {
    .col_4 {
        width: 100%;
    }

    .col_2 {
        width: 100%;
    }

    .gallery_grid {
        grid-template-columns: 1fr;
    }

    .button a {
        font-size: 20px;
    }

    .body_heading {
        margin-top: 24px;
    }

    #main_content {
        order: 0;
    }

    #left_bar {
        order: 1;
        margin-top: 24px;
    }

    .body_heading {
        margin-top: 0px;
    }
}

@media screen and (max-width: 550px) {
    .header_logo img {
        width: 64px;
    }

    .header_logo span {
        font-size: 35px;
    }

    nav li a {
        font-size: 18px;
    }

    nav li {
        text-align: center;
    }

    .header_signin {
        position: absolute;
        top: 3px;
        right: 3px;
    }

    #menu_btn {
        display: block;
    }

    nav {
        max-height: 0;
        overflow: hidden;
    }

    .navitem {
        width: 100%;
    }

    nav li a {
        font-size: 25px;
    }

    .dropdown ul {
        opacity: 1;
        z-index: 1;
        position: relative;
    }

    .dropdown ul a {
        font-size: 20px;
    }
}

@media screen and (max-width: 400px) {
    .login_popup_window {
        min-width: 100%;
        left: 0;
        transform: translate(0, -50%);
    }
}

@media screen and (max-height: 420px) {
    .login_popup_window {
        transform: translate(-50%, 0);
        top: 0;
        position: absolute;
    }
}

@media screen and (max-height: 420px) and (max-width: 400px) {
    .login_popup_window {
        transform: none;
    }
}