@font-face {
    font-family: myriad;
    src: url(myriad.ttf);
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: myriad;
}

img {
    vertical-align: bottom;
}

a {
    color: #ffffff;
    text-decoration: underline;
    transition: color 200ms;
}

a:hover {
    color: #e73625;
}

.wrapper {
    margin: 0 auto;
    width: 1200px;
    padding: 0;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.col_1 {
    width: calc(100% / 6);
    padding: 0 12px;
}

.col_3 {
    width: 50%;
    padding: 0 12px;
}

.col_2 {
    width: calc(100% / 3);
    padding: 0 12px;
}

.col_4 {
    width: calc(100% / 3 * 2);
    padding: 0 12px;
}

.col_6 {
    width: 100%;
    padding: 0 12px;
}

header {
    background-color: #000000;
    margin-bottom: 24px;
}

header > .wrapper {
    padding-bottom: 0;
}

.header_buttons {
    padding-top: 36px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

nav {
    transition: max-height 800ms;
}

nav ul {
    padding: 0;
    list-style-type: none;
}

nav > ul {
    display: flex;
    align-content: flex-end;
    flex-wrap: wrap;
    margin: 12px 0 0 0;
}

nav li {
    padding: 3px 3px;
    border: 2px solid transparent;
    text-align: right;
    transition: border 200ms;
}

nav li a {
    font-size: 33.33px;
}

nav li:hover {
    color: #e73625;
    text-decoration: underline;
    border: 2px solid #e73625;
}

.navitem {
    width: calc(100% / 3);
}

.dropdown {
    position: relative;
    background-color: #000000;
}

.dropdown ul {
    z-index: -1;
    opacity: 0;
    transition: all 500ms;
    position: absolute;
    left: 0;
    background-color: #000000;
    box-sizing: border-box;
    width: 100%;
    padding: 0;
}

.dropdown li {
    font-style: italic;
}

.dropdown:hover ul {
    opacity: 1;
    z-index: 1;
}

footer {
    background-color: #000000;
}

.footer_signing {
    color: #ffffff;
    font-size: 25px;
    margin: 12px 0;
}

.header_logo {
    margin: 12px 0px;
}

.header_logo a {
    text-decoration: none;
}

.header_logo span {
    color: #ffffff;
    font-size: 75px;
    vertical-align: middle;
    margin-left: 12px;
}

.header_logo img {
    vertical-align: middle;
}

.header_signin {
    text-align: right;
    padding-right: 6px;
}

.header_signin a {
    font-style: italic;
    font-size: 25px;
}

.body_main_image img {
    width: 100%;
}

.body_heading h1 {
    text-align: center;
    margin: 0;
    font-size: 42px;
}

.icon_bar {
    margin: 0 -12px;
    margin-top: 8px;
    margin-bottom: 36px;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.body_bar_item {
    padding: 0 12px;
    width: 25%;
    text-align: right;
    font-style: italic;
}

.body_bar_item p {
    margin: 12px 0 0 0;
    font-size: 25px;
}

.body_text {
    text-align: center;
}

.body_text p {
    margin: 0;
    font-size: 25px;
}

.body_table {
    margin: 24px 0;
    padding: 12px 0;
    background-color: #e7e7e7;
    border: 2px solid #e73625;
    font-size: 33.33px;
}

.body_table > table {
    box-sizing: border-box;
    width: 100%;
    text-align: center;
}

.body_table a {
    color: #000000;
}

.body_table a:hover {
    color: #e73625;
}

.body_table td {
    max-width: 0;
    display: table-cell;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000000;
    color: #ffffff;
    border-radius: 20px;
    border: 2px solid transparent;
    height: 80px;
    width: 100%;
    font-size: 33.33px;
    transition: all 200ms;
}

.button a {
    text-decoration: none;
    font-style: italic;
}

.button:hover {
    border: 2px solid #e73625;
    color: #e73625;
}

.gallery_grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 24px;
    margin: 24px 0 24px 0;
    padding: 0 12px;
    align-items: center;
}

.gallery_grid_image img {
    width: 100%;
    border: 2px solid transparent;
}

.login_popup_shade {
    opacity: 1;
    transition: all 800ms;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 90%);
    z-index: 100;
}

.login_popup_window {
    display: inline-block;
    opacity: 1;
    transition: all 800ms;
    max-width: 376px;
    min-width: 376px;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    padding: 36px 48px;
    z-index: 101;
    border: 2px solid #e73625;
    font-style: italic;
}

.popup_disabled {
    opacity: 0;
    z-index: -1;
}

.close_button {
    position: absolute;
    right: 8px;
    top: 8px;
}

.popup_button {
    border-radius: 10px;
    height: 40px;
    margin-bottom: 24px;
    font-size: 25px;
    text-decoration: none;
}

.gp_button {
    background-color: #4885ed;
}

.fb_button {
    background-color: #3b5998;
}

input {
    height: 40px;
    width: 100%;
    border-radius: 10px;
    border: 2px solid #cccccc;
    padding: 0;
    margin-bottom: 24px;
    text-align: center;
    font-style: italic;
    font-size: 25px;
}

.forgot_links {
    display: flex;
    justify-content: space-between;
}

.forgot_links a {
    color: #000000;
    font-size: 14px;
    text-decoration: underline;
    font-style: normal;
    font-family: myriad;
}

#menu_btn {
    display: none;
    margin-bottom: 12px;
    text-align: right;
}

#menu_btn img {
    width: 24px;
    height: 24px;
}

.nav_shown {
    max-height: 1000px;
}

.grid_image_chosen {
    border-color: #e73625 !important;
}

.image_popup {
    max-width: 100vw;
}

.expanded_image {
    width: auto;
    max-width: 100%;
}